html
  head
    title Product Info/#{product.asin}
  body
    include nav.pug
    ul
      h3 ASIN: #{product.asin}
      li Category: #{product.category}
      li Best Sellers Rank: ##{product.rank}
      li Dimensions: #{product.dimensions}"
